body{
    padding: 5%;
    
}
main {
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
  }
h1 {
    align-content : flex-end;
    color: blue;
}


img {
    width: 25%;
    align-content: center;
    
}
form {
    margin: 2rem auto;
    width: 50%;
    min-width: 15rem;
    padding: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
}
.formSection {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
label {
    display: inline-block;
    width: 80%;
}

input {
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #999;
    min-height: 2rem;
    font-size: 1.2rem;
}